################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ivanti/.vs/Ivanti/v16
/Ivanti/Ivanti/bin/Debug/netcoreapp3.1
/Ivanti/Ivanti/obj
/Ivanti/Ivanti/Ivanti.csproj.user
/Ivanti/UnitTests/obj
/Ivanti/UnitTests/bin/Debug/netcoreapp3.1
/Ivanti/.vs/Ivanti/DesignTimeBuild
/Ivanti/API/.vs/Ivanti
/Ivanti/API/Ivanti/bin/Debug/netcoreapp3.1
/Ivanti/API/Ivanti/obj/Debug/netcoreapp3.1
/Ivanti/API/Ivanti/obj
/Ivanti/API/UnitTests/bin/Debug/netcoreapp3.1
/Ivanti/API/UnitTests/obj
